<template>
  <section
    role="terms"
    class="
      d-flex
      flex-direction-column
      align-items-center
      justify-content-center
    "
  >
    <figure role="image" class="height-60px xlg-height-90px margin-y-4rem">
      <img
        class="resize-img d-block margin-start-auto"
        src="/logo/logo.png"
        alt="logo"
      />
    </figure>
    <p role="description" class="text-20 padding-x-2rem weight-bold">
      هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
      تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن
      كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي
      كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع
      مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
      إيبسوم نفسه عدة مرات بما تتطلبه الحاجة هنالك العديد من الأنواع المتوفرة
      لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل
    </p>
  </section>
</template>

<script>
export default {
  name: "Terms",
};
</script>

<style></style>
