// RESET ALL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// HTML
html {
  font-size: 62.5%; // 10PX / 16PX = 62.5%

  // FONT SIZE LG
  @include BreakPoint(lg) {
    // LARGE SCREEN => 9px / 16px = 56.25%
    font-size: 56.25%;
  }

  // FONT SIZE MD
  @include BreakPoint(md) {
    // MEDIUM SCREEN => 8px / 16px = 50%
    font-size: 50%;
  }

  // FONT SIZE SM
  @include BreakPoint(sm) {
    // SMALL SCREEN => 7px / 16px = 43.75%
    font-size: 43.75%;
  }

  // Change color scroll bar
  @include scrollBar($widthTrack, $colorTrack, $colorThumb, html);
}

// BODY
body {
  box-sizing: border-box;
  //
  font-family: map-get($font, family), sans-serif;
  font-weight: 300;
  //
  overflow-x: hidden;

  // Change color scroll bar
  @include scrollBar($widthTrack, $colorTrack, $colorThumb);
}

html,
body {
  height: 100%;
}

// SELECTION
::selection {
  background-color: $colorSelection;
}

//
html[dir="rtl"] {
  direction: rtl;
}
