////////////////////////////
// All Colors Variables
$red-light: #308664;
$red-light-1: rgba(#308664, 0.5);
$light: #f2f2f2;
$light-1: #ffffff;
$gray: #b5b5b5;
$black-alpha: rgba(black, 0.5);
$black: black;
////////////////////////////
// 1) Themes Colors
$themes: (
  red-light: $red-light,
  light: $light,
  light-1: $light-1,
  gray: $gray,
  black-alpha: $black-alpha,
  red-light-1: $red-light-1,
  black: $black,
);

////////////////////////////
// 2) Font
$font: (
  family: "Almarai",
  weight: ":wght@300;400",
  addWeight: (
    normal: 300,
    bold: 400,
  ),
  sizes: (
    14: 1.4rem,
    16: 1.6rem,
    18: 1.8rem,
    19: 1.9rem,
    20: 2rem,
    22: 2.2rem,
    25: 2.5rem,
    30: 3rem,
    40: 4rem,
    50: 5rem,
    120: 12rem,
  ),
);

$customFont: (
  status: false,
  name: "",
  src: "",
  weights: (
    bold: (
      ext: "",
      weight: null,
    ),
    medium: (
      ext: "",
      weight: null,
    ),
    regular: (
      ext: "",
      weight: null,
    ),
  ),
);

// Choose color text
// Ex => first-color second-color ..etc if null will render all themes
$chooseColorText: "light", "gray", "red-light", "red-light-1", "black";

////////////////////////////
/// 3) - SVG
// SVG - SIZE
$svg: (
  20: 2rem,
  30: 3rem,
  40: 4rem,
  80: 8rem,
);

// Choose fill svg
// Ex => first-color second-color ..etc if null will render all themes
$chooseFillSvg: "gray", "light", "red-light", "black";

////////////////////////////
/// 4) - DISPLAY
// Choose type display will add classes
// Ex => flex - grid - block - inline-block - table - box
$chooseDisplay: "flex", "block", "inline-block", "none";

// Choose type aligment will add classes
// Ex => justify-content - align-items - align-self - align-content
$chooseAligmentFlex: "justify-content", "align-items", "align-self",
  "flex-direction", "flex-wrap";

// Choose type aligment will add classes
// Ex => flex-grow flex-shrink
$chooseGrowAndShrink: "flex-grow", "flex-shrink";

// Choose flex basis
// Ex => "200px" 30 = 30%
$flexBasis: 20, 32, 49, 50, 80, 100, "90px";

////////////////////////////
/// 5) - WIDTH
// Choose width will add classes
// Ex => 60 = 60% other write "40px" "40rem" "40em" "40vw"
$chooseWidth: "90px", 100, 50, 30, 70, 90, 60, "20rem", "276px", "15rem", "50vw",
  "13rem", "40rem", "5rem";

////////////////////////////
/// 6) - HEIGHT
// Choose height will add classes
// Ex => 60 = 60% other write "40px" "40rem" "40em" "40vh"
$chooseHeight: "100vh", "90px", "60px", 100, "50vh", "50px", "20rem", "12rem",
  "15rem", "13rem", "30vh", "5rem", "9rem";

////////////////////////////
/// 7) - MIN HEIGHT
// Choose min height will add classes
// Ex => 60 = 60% other write "40px" "40rem" "40em" "40vh"
$chooseMinHeight: "85vh", "100vh", "100vh", 88;

////////////////////////////
/// 8) - MAX HEIGHT
// Choose max height will add classes
// Ex => 60 = 60% other write "40px" "40rem" "40em" "40vh"
$chooseMaxHeight: "85vh", "81vh", "100vh", 88;

////////////////////////////
/// 9) - MAX WIDTH
// Choose max width will add classes
// Ex => 60 = 60% other write "40px" "40rem" "40em" "40vh"
$chooseMaxWidth: "50vw", 50;

////////////////////////////
/// 10) - POSITION
$choosePosition: (
  rel: relative,
  abs: absolute,
  fix: fixed // ini: initial,
  // sti: sticky,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

////////////////////////////
// 11) Padding
$padding: (
  5: 5px,
  10: 1rem,
  20: 2rem,
  40: 4rem,
  30: 3rem,
);

////////////////////////////
// 12) Margin
$margin: (
  auto: auto,
  20: 2rem,
  40: 4rem,
  10: 1rem,
  5: 5px,
);

////////////////////////////
// 13) BORDER RADUIS
$borderRaduis: (
  card: 2rem 2rem 0 0,
  100: 10rem,
  10: 1rem,
  circle: 50%,
  model: 3rem 3rem 0 0,
);

////////////////////////////
// 14) OTHER
// Prorperty Change Scroll Bar
$colorTrack: null;
$colorThumb: null;
$widthTrack: null;

// Change Color Selection
$colorSelection: null;
