////////////////////////////
// 1) Class => obj img
.resize-img {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

////////////////////////////
// 2) Class => overflow
.overflow {
  //
  &-hidden {
    overflow: hidden;
  }

  //
  &-auto {
    overflow: auto;
  }
}

////////////////////////////
// 3) Class => text transform
.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

////////////////////////////
// 4) ADD CLASSES BORDER RADUIS
@each $name, $size in $borderRaduis {
  .radius-#{$name} {
    border-radius: $size;
  }
}

////////////////////////////
// 5) - Other
//
.unstyled {
  list-style-type: none;
}

//
.cursor-pointer {
  cursor: pointer;
}

//
.text-align-center {
  text-align: center;
}

.border {
  //
  &-bottom {
    border-bottom: 1px solid lighten($red-light, 50%);
  }

  //
  &-all-red-light {
    border: 1px solid lighten($red-light, 50%);
  }

  &-all-red-light-2 {
    border: 3px solid lighten($red-light, 50%);
  }

  //
  &-all-red {
    border: 1px solid $red-light;
  }

  &-light-1 {
    border: 3px solid $light-1;
  }
}

//
input {
  all: unset;
  font-family: inherit;

  //
  &::placeholder {
    opacity: 0.5;
  }
}

//
.register {
  input {
    //
    &:focus {
      border: 1px solid $red-light-1;
    }
  }
}

.btn {
  //
  &__red-light {
    transition: all 0.5s ease;
    @include DetectHover {
      &:hover {
        background-color: lighten($red-light, 2%);
      }
    }
  }
  &__light {
    transition: all 0.5s ease;
    @include DetectHover {
      &:hover {
        background-color: darken($light, 2%);
      }
    }
  }
}

button {
  display: block;
}

//
.trans-back {
  //
  @include BreakPoint(xlg) {
    background-color: transparent !important;
  }
}

//
.grediant {
  &-light {
    @include BreakPoint(lg) {
      background-image: linear-gradient(to bottom, rgba($light, 1) 10%, white);
    }
  }
}

.user-select {
  user-select: none;
}

.shadow {
  &-upload {
    box-shadow: 0px 3px 6px #91919170;
  }
}
